<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

	<!-- community result map -->
	<resultMap id="getselectCommuList" type="commu">
		<result property="commu_Index" column="COMMU_INDEX" />
		<result property="commu_Writer_Index" column="COMMU_WRITER_INDEX" />
		<result property="commu_Category_Index" column="COMMU_CATEGORY_INDEX" />
		<result property="commu_Title" column="COMMU_TITLE" />
		<result property="commu_Content" column="COMMU_CONTENT"
			jdbcType="CLOB" javaType="java.lang.String" />
		<result property="commu_Hits" column="COMMU_HITS" />
		<result property="commu_Upload_Date" column="COMMU_UPLOAD_DATE" />
		<result property="commu_Update_Date" column="COMMU_UPDATE_DATE" />
		<result property="commu_Is_Deleted" column="COMMU_IS_DELETED" />
		<result property="commu_tags" column="COMMU_TAGS" />
		<result property="fileCount" column="FILECOUNT" />
		<result property="commu_Writer" column="COMMU_WRITER" />
	</resultMap>
	<resultMap id="getselectCommuOne" type="commu">
		<result property="commu_Index" column="COMMU_INDEX" />
		<result property="commu_Writer_Index" column="COMMU_WRITER_INDEX" />
		<result property="commu_Category_Index" column="COMMU_CATEGORY_INDEX" />
		<result property="commu_Title" column="COMMU_TITLE" />
		<result property="commu_Content" column="COMMU_CONTENT"
			jdbcType="CLOB" javaType="java.lang.String" />
		<result property="commu_Hits" column="COMMU_HITS" />
		<result property="commu_Upload_Date" column="COMMU_UPLOAD_DATE" />
		<result property="commu_Update_Date" column="COMMU_UPDATE_DATE" />
		<result property="commu_tags" column="COMMU_TAGS" />
		<result property="commu_Is_Deleted" column="COMMU_IS_DELETED" />
		<result property="commu_Writer" column="COMMU_WRITER" />
	</resultMap>
	<resultMap id="getselectCommuReplyList" type="commuReply"> 
		<result property="commu_Reply_Index" column="COMMU_REPLY_INDEX" /> 
		<result property="commu_Reply_Commu_Index" column="COMMU_REPLY_COMMU_INDEX" /> 
		<result property="commu_Reply_Parent_Index" column="COMMU_REPLY_PARENT_INDEX" /> 
		<result property="commu_Reply_Writer_Index" column="COMMU_REPLY_WRITER_INDEX" /> 
		<result property="commu_Reply_Content" column="COMMU_REPLY_CONTENT" jdbcType="CLOB" javaType="java.lang.String" /> 
		<result property="commu_Reply_Upload_Date" column="COMMU_REPLY_UPLOAD_DATE" /> 
		<result property="commu_Reply_Update_Date" column="COMMU_REPLY_UPDATE_DATE" /> 
		<result property="commu_Reply_Depth_Index" column="COMMU_REPLY_DEPTH_INEDX" />
		<result property="commu_Reply_Is_Deleted" column="COMMU_REPLY_IS_DELETED" /> 
		<result property="commu_Reply_Is_Readed" column="COMMU_REPLY_IS_READED" />  
		<result property="commu_Reply_Order_Index" column="COMMU_REPLY_ORDER_INDEX" />  
	</resultMap>
		
	<select id="selectUser" parameterType="_int" resultType="user">
		select * from TABLE_USER where USER_INDEX = #{user_index}
	</select>
		
	<select id="selectUserList" parameterType="_int" resultType="user">
		select * from TABLE_USER
		where USER_LEVEL <![CDATA[<]]> #{user_level} and
			(USER_TYPE like '%'||'user'||'%' or
			USER_TYPE like '%'||'inst'||'%') 
		order by USER_LEVEL desc, USER_INDEX desc
	</select>
	
	<select id="selectUserCount" parameterType="_int" resultType="_int">
		select COUNT(*) from TABLE_USER
		where USER_LEVEL <![CDATA[<]]> #{user_level} and
			(USER_TYPE like '%'||'user'||'%' OR 
			USER_TYPE like '%'||'inst'||'%') 
	</select>
	
	<update id="modifyUserByAdmin" parameterType="user">
		update TABLE_USER
		<set>
			<if test="user_nickname != null">USER_NICKNAME = #{user_nickname},</if>
			<if test="user_phone != null">USER_PHONE = #{user_phone},</if>
			USER_IS_SECESSION = #{user_is_secession},
			USER_IS_KICKED = #{user_is_kicked},
			<if test="user_try_signin_count gte 0">USER_TRY_SIGNIN_COUNT = #{user_try_signin_count},</if>
		</set>
		where USER_INDEX = #{user_index} and USER_ID = #{user_id}
	</update>
	
	<select id="selectCommuListByUserIndex" parameterType="_int" resultMap="getselectCommuList">
		select
		COMMU_INDEX,COMMU_WRITER_INDEX,COMMU_CATEGORY_INDEX,COMMU_TITLE,COMMU_HITS,COMMU_UPLOAD_DATE,COMMU_UPDATE_DATE,COMMU_IS_DELETED,USER_NICKNAME
		COMMU_WRITER, COMMU_TAGS
		from TABLE_USER U join TABLE_COMMU C on(C.COMMU_WRITER_INDEX=U.USER_INDEX)
		where U.USER_INDEX = #{user_index}
		order by C.COMMU_UPLOAD_DATE desc
	</select>
	
	<select id="selectCommuListCountByUserIndex" parameterType="_int" resultType="_int">
		select COUNT(*)
		from TABLE_USER U join TABLE_COMMU C on(C.COMMU_WRITER_INDEX=U.USER_INDEX)
		where U.USER_INDEX = #{user_index}
	</select>
	
	<select id="searchCommuListByUserIndex" parameterType="map" resultMap="getselectCommuList">
		select
		COMMU_INDEX,COMMU_WRITER_INDEX,COMMU_CATEGORY_INDEX,COMMU_TITLE,COMMU_HITS,COMMU_UPLOAD_DATE,COMMU_UPDATE_DATE,COMMU_IS_DELETED,USER_NICKNAME
		COMMU_WRITER, COMMU_TAGS
		from TABLE_USER U join TABLE_COMMU C on(C.COMMU_WRITER_INDEX=U.USER_INDEX)
		where U.USER_INDEX = #{user_index}
		
	</select>
	
	<select id="searchCommuListCountByUserIndex" parameterType="map" resultType="_int">
		select CONUT(*)
		from TABLE_USER U join TABLE_COMMU C on(C.COMMU_WRITER_INDEX=U.USER_INDEX)
		where U.USER_INDEX = #{user_index}
		<if test="filter eq 'title'">
			and C.COMMU_TITLE like '%'||#{text}||'%'
		</if>
		<if test="filter eq 'content'">
			and C.COMMU_CONTENT like '%'||#{text}||'%' 
		</if>
		<if test="filter eq 'tag'">
			and C.COMMU_TAGS like '%'||#{text}||'%' 
		</if>
	</select>
	
	<select id="selectCommuReplyListByUserIndex" parameterType="_int" resultMap="getselectCommuReplyList">
		select R.*,U.USER_NICKNAME COMMU_REPLY_WRITER
		from TABLE_COMMU_REPLY R
		join TABLE_USER U on(R.COMMU_REPLY_WRITER_INDEX=U.USER_INDEX)
		where COMMU_REPLY_WRITER_INDEX = #{user_index}
		order by COMMU_REPLY_PARENT_INDEX desc, COMMU_REPLY_ORDER_INDEX asc
	</select>
	
	<select id="selectCommuReplyListCountByUserIndex" parameterType="_int" resultType="_int">
		select COUNT(*)
		from TABLE_COMMU_REPLY where COMMU_REPLY_WRITER_INDEX = #{user_index}
	</select>
	
	<select id="searchCommuReplyListByUserIndex" parameterType="map" resultMap="getselectCommuList">
		select
		COMMU_INDEX,COMMU_WRITER_INDEX,COMMU_CATEGORY_INDEX,COMMU_TITLE,COMMU_CONTENT,COMMU_HITS,COMMU_UPLOAD_DATE,COMMU_UPDATE_DATE,COMMU_IS_DELETED,USER_NICKNAME
		COMMU_WRITER, COMMU_TAGS
		from TABLE_USER U join TABLE_COMMU C on(C.COMMU_WRITER_INDEX=U.USER_INDEX)
		where U.USER_INDEX = #{user_index}
		
	</select>
	
	<select id="searchCommuReplyListCountByUserIndex" parameterType="map" resultType="_int">
		select
		COMMU_INDEX,COMMU_WRITER_INDEX,COMMU_CATEGORY_INDEX,COMMU_TITLE,COMMU_CONTENT,COMMU_HITS,COMMU_UPLOAD_DATE,COMMU_UPDATE_DATE,COMMU_IS_DELETED,USER_NICKNAME
		COMMU_WRITER, COMMU_TAGS
		from TABLE_USER U join TABLE_COMMU C on(C.COMMU_WRITER_INDEX=U.USER_INDEX)
		where U.USER_INDEX = #{user_index}
		
	</select>
	
	<select id="searchUserList" parameterType="map" resultType="user">
		select * from TABLE_USER
		where USER_LEVEL <![CDATA[<]]> #{user_level} and
			(USER_TYPE like '%'||'user'||'%' OR 
			USER_TYPE like '%'||'inst'||'%')
			<choose>
				<when test="filter eq 'id'">
					and USER_ID like '%'|| #{text} ||'%' 
				</when>
				<when test="filter eq 'nickname'">
					and USER_NICKNAME like '%'|| #{text} ||'%'
				</when>
				<when test="filter eq 'phone'">
					and USER_PHONE like '%'|| #{text} ||'%'
				</when>
				<otherwise>
				</otherwise>
			</choose>
		order by USER_LEVEL desc, USER_INDEX desc
	</select>
	
	<select id="searchUserListCount" parameterType="map" resultType="_int">
		select COUNT(*) from TABLE_USER
		where USER_LEVEL <![CDATA[<]]> #{user_level} and
			(USER_TYPE like '%'||'user'||'%' OR 
			USER_TYPE like '%'||'inst'||'%')
		<choose>
			<when test="filter eq 'id'">
				and USER_ID like '%'|| #{text} ||'%' 
			</when>
			<when test="filter eq 'nickname'">
				and USER_NICKNAME like '%'|| #{text} ||'%'
			</when>
			<when test="filter eq 'phone'">
				and USER_PHONE like '%'|| #{text} ||'%'
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
		
	<!-- community area -->
	
	<select id="selectCommuList" parameterType="string" resultMap="getselectCommuList">
		select
		COMMU_INDEX,COMMU_WRITER_INDEX,COMMU_CATEGORY_INDEX,COMMU_TITLE,COMMU_CONTENT,COMMU_HITS,COMMU_UPLOAD_DATE,COMMU_UPDATE_DATE,COMMU_IS_DELETED,USER_NICKNAME
		COMMU_WRITER, COMMU_TAGS
		from TABLE_USER U join TABLE_COMMU C on(C.COMMU_WRITER_INDEX=U.USER_INDEX)
		<where> 
			<choose>
				<when test="_parameter eq 'trash'">
					C.COMMU_IS_DELETED = 1
				</when>
				<otherwise>
					C.COMMU_IS_DELETED = 0
				</otherwise>
			</choose>
			
			<if test="_parameter eq 'notice'">
				and C.COMMU_CATEGORY_INDEX = 'N01'
			</if>
			<if test="_parameter eq 'board'">
				and C.COMMU_CATEGORY_INDEX = 'B04'
			</if>
			<if test="_parameter eq 'qa'">
				and C.COMMU_CATEGORY_INDEX = 'B02'
			</if>
			<if test="_parameter eq 'news'">
				and C.COMMU_CATEGORY_INDEX = 'B03'
			</if>
		</where>
		order by C.COMMU_INDEX DESC
	</select>
	
	<select id="selectCommuListCount" parameterType="string" resultType="_int">
		select COUNT(*)
		from TABLE_USER U join TABLE_COMMU C on(C.COMMU_WRITER_INDEX=U.USER_INDEX)
		<where> 
			<choose>
				<when test="_parameter eq 'trash'">
					C.COMMU_IS_DELETED = 1
				</when>
				<otherwise>
					C.COMMU_IS_DELETED = 0
				</otherwise>
			</choose>
			
			<if test="_parameter eq 'notice'">
				and C.COMMU_CATEGORY_INDEX = 'N01'
			</if>
			<if test="_parameter eq 'board'">
				and C.COMMU_CATEGORY_INDEX = 'B04'
			</if>
			<if test="_parameter eq 'qa'">
				and C.COMMU_CATEGORY_INDEX = 'B02'
			</if>
			<if test="_parameter eq 'news'">
				and C.COMMU_CATEGORY_INDEX = 'B03'
			</if>
		</where>
	</select>
	
	<select id="searchCommuList" parameterType="map" resultMap="getselectCommuList">
		select
		COMMU_INDEX,COMMU_WRITER_INDEX,COMMU_CATEGORY_INDEX,COMMU_TITLE,COMMU_CONTENT,COMMU_HITS,COMMU_UPLOAD_DATE,COMMU_UPDATE_DATE,COMMU_IS_DELETED,USER_NICKNAME
		COMMU_WRITER, COMMU_TAGS
		from TABLE_USER U join TABLE_COMMU C on(C.COMMU_WRITER_INDEX=U.USER_INDEX)
		<where>
			<choose>
				<when test="category eq 'trash'">
					C.COMMU_IS_DELETED = 1
				</when>
				<otherwise>
					C.COMMU_IS_DELETED = 0
				</otherwise>
			</choose>
		
			<if test="filter eq 'title'">
				and C.COMMU_TITLE like '%'||#{text}||'%'
			</if>
			<if test="filter eq 'writer'">
				and U.USER_NICKNAME like '%'||#{text}||'%' 
			</if>
			<if test="filter eq 'content'">
				and C.COMMU_CONTENT like '%'||#{text}||'%' 
			</if>
			<if test="filter eq 'tag'">
				and C.COMMU_TAGS like '%'||#{text}||'%' 
			</if>
		
			<if test="category eq 'notice'">
				and C.COMMU_CATEGORY_INDEX = 'N01'
			</if>
			<if test="category eq 'board'">
				and C.COMMU_CATEGORY_INDEX = 'B04'
			</if>
			<if test="category eq 'qa'">
				and C.COMMU_CATEGORY_INDEX = 'B02'
			</if>
			<if test="category eq 'news'">
				and C.COMMU_CATEGORY_INDEX = 'B03'
			</if>
		</where>
		order by C.COMMU_INDEX DESC
	</select>
	
	<select id="searchCommuListCount" parameterType="map" resultType="_int">
		select COUNT(*)
		from TABLE_USER U join TABLE_COMMU C on(C.COMMU_WRITER_INDEX=U.USER_INDEX)
		<where>
			<choose>
				<when test="category eq 'trash'">
					C.COMMU_IS_DELETED = 1
				</when>
				<otherwise>
					C.COMMU_IS_DELETED = 0
				</otherwise>
			</choose>
		
			<if test="filter eq 'title'">
				and C.COMMU_TITLE like '%'||#{text}||'%'
			</if>
			<if test="filter eq 'writer'">
				and U.USER_NICKNAME like '%'||#{text}||'%' 
			</if>
			<if test="filter eq 'content'">
				and C.COMMU_CONTENT like '%'||#{text}||'%' 
			</if>
			<if test="filter eq 'tag'">
				and C.COMMU_TAGS like '%'||#{text}||'%' 
			</if>
		
			<if test="category eq 'notice'">
				and C.COMMU_CATEGORY_INDEX = 'N01'
			</if>
			<if test="category eq 'board'">
				and C.COMMU_CATEGORY_INDEX = 'B04'
			</if>
			<if test="category eq 'qa'">
				and C.COMMU_CATEGORY_INDEX = 'B02'
			</if>
			<if test="category eq 'news'">
				and C.COMMU_CATEGORY_INDEX = 'B03'
			</if>
		</where>
	</select>
		
	<select id="selectCommuByCommuIndex" parameterType="_int" resultMap="getselectCommuOne">
		select
		COMMU_INDEX,COMMU_WRITER_INDEX,COMMU_CATEGORY_INDEX,COMMU_TITLE,COMMU_CONTENT,COMMU_HITS,COMMU_UPLOAD_DATE,COMMU_UPDATE_DATE,COMMU_IS_DELETED,USER_NICKNAME
		COMMU_WRITER, COMMU_TAGS
		from TABLE_USER U join TABLE_COMMU C on(C.COMMU_WRITER_INDEX=U.USER_INDEX)
		where C.COMMU_INDEX=#{commu_index}
	</select>
	
	<select id="selectCommuReplyListByCommuIndex" resultMap="getselectCommuReplyList">
		select R.*,U.USER_NICKNAME COMMU_REPLY_WRITER from TABLE_COMMU_REPLY R join TABLE_USER U 
		on(R.COMMU_REPLY_WRITER_INDEX=U.USER_INDEX) where COMMU_REPLY_COMMU_INDEX=#{commu_index}
		order by COMMU_REPLY_PARENT_INDEX desc, COMMU_REPLY_ORDER_INDEX asc
	</select>
	
	<select id="paymentList" parameterType="_int" resultType="purchase">
		select * from TABLE_PURCHASE left join TABLE_COUPON on(PURCHASE_USED_COUPON_INDEX = COUPON_INDEX) where PURCHASE_USER_INDEX = #{user_index}
	</select>
	
</mapper>