<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="home">

	<select id="selectLectureListRecent" resultType="lecture">
		select * from TABLE_LECTURE order by LECTURE_INDEX desc
	</select>
	
	<select id="selectLectureListRecommanded" resultType="lecture">
		select * from TABLE_LECTURE order by LECTURE_UPLOAD_DATE desc
	</select>
	
</mapper>
