<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="home">

	<select id="selectLectureListRecent" parameterType="hashmap" resultType="lecture">
		SELECT * FROM TABLE_LECTURE 
		<if test="user_index != 0">
		LEFT JOIN (SELECT * FROM TABLE_WISH_LIST WHERE WISH_USER_INDEX = #{user_index}) ON (LECTURE_INDEX = WISH_LECTURE_INDEX) 
		LEFT JOIN (SELECT * FROM TABLE_CART WHERE CART_USER_INDEX = #{user_index}) ON (LECTURE_INDEX = CART_LECTURE_INDEX)
		</if>
		ORDER BY LECTURE_UPLOAD_DATE DESC
	</select>
	
	<select id="selectLectureListRecommanded" resultType="lecture">
		select * from TABLE_LECTURE order by LECTURE_UPLOAD_DATE desc
	</select>
</mapper>
